*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}
.section_wrapper{
  max-width:100%;
  background-image: url("https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_1280.jpg");
  height:150vh;
 background-repeat:round;
 overflow-x: hidden;
  overflow-y: auto;
}
.header{
  height:55px;
  width:100%;
  background-color: cadetblue;
  border-bottom:3px solid rgb(245, 43, 252);
  position: sticky;
  top: 0;
  z-index: 999;
}
.logo-img{
  width:200px;
  
}
.navcontainer{
  height: 100%;
  padding: 0 25px;
  display: flex;
  overflow: hidden;

  align-items: center;
  justify-content: space-between;
}
.editdelete_div{
  margin-right: 8px;
}

.logo{
  color: rgb(206, 5, 156);
  font-size:30px;
  margin-top: 8px;
 font-weight: 700;
}
.msg{
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-top: 8px;
}

.components_container{
  
  width: 500px;
  margin: auto;
  height: auto;
}


.todoitems{
  font-weight: 600;
 
  margin-left: 5px;
 font-size:18px;
}
.home-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:100px;
}
.form-input{
  width:320px;
  padding:8px;
  background-color: rgb(218, 218, 218);
  font-size:17px;
  border-style: none;
  margin-right: 5px;
  border-radius: 4px;
}
.form-input:focus{
background-color: white;
border-style: none;

}
.btn_add{
width:65px;
padding:11px;
background-color: rgb(238, 12, 219);
border-radius:4px;
border: none;
color: white;
}
.btn_add:hover{
  background-color: rgb(253, 248, 251);
  color: black;
  cursor: pointer;
  border: 2px solid rgb(187, 184, 184);
}

.todo{
  margin: 0;
  margin-right: 30px;
  margin-top:30px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(181, 5, 187);
  padding-bottom: 5px;
}
.delete-all{
  display: flex;
  margin-right: 30px;
  justify-content: flex-end;
}
.btn-deleteall{
  color: white;
  display: flex;
  justify-content: center;
  padding:7px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(51, 113, 247); 
}
.btn-deleteall:hover{
  background-color: rgb(26, 4, 155);
  cursor: pointer;

}


.editdelete_conatiner{
  display: flex;
  cursor: pointer;
}
.edit-icon{
  color: rgb(186, 236, 4);
}
.delete-icon{
  color: red;
}

@media only screen and (max-width: 480px){
  .header{
    height: 75px;
  }
  .logo-img{
    height: 50px;
  }
  .msg{
    font-size: 17px;
  }
  .navcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 0 6px;
  }
 
  .form_fields{
   
    display: flex;
    align-items: center;
    margin-right:170px;
    flex-direction: column;
  }
  
  .form-input{
    width:250px;
    margin-bottom:5px;

  }
  .todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:300px;
    margin: 25px 0px;
    margin-top:10px;
  }
 
  .delete-all{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:300px;
    margin: 25px 0px;
    margin-top:10px;
  }
}

